In [1]:
# Import Dependencies
import pandas as pd
import numpy as np

# File to load
clvd_to_load = "Resources/processed_cleveland.csv"
va_to_load = "Resources/processed_va.csv"
hgrn_to_load = "Resources/reprocessed_hungarian.csv"

# Read the Data
clvd_df = pd.read_csv(clvd_to_load)
va_df = pd.read_csv(va_to_load)
hgrn_df = pd.read_csv(hgrn_to_load)

In [2]:
clvd_df.head(10)

,Age,Sex,Chest Pain (cp),Resting Blood Pressure (trestbps),Serum Cholestoral (Chol),Fasting Blood Sugar (fbs),Resting Electrocardiographic Results (restecg),Maximum Heart Rate Achieved (thalach),Exercise Induced Angina (exang),ST depression induced by exercise relative to rest (oldpeak),the slope of the peak exercise ST segment (slope),number of major vessels (ca),thal,diagnosis of heart disease (num)
0,63,1,1,145,233,1,2,150,0,2.3,3,0,6,0
1,67,1,4,160,286,0,2,108,1,1.5,2,3,3,2
2,67,1,4,120,229,0,2,129,1,2.6,2,2,7,1
3,37,1,3,130,250,0,0,187,0,3.5,3,0,3,0
4,41,0,2,130,204,0,2,172,0,1.4,1,0,3,0
5,56,1,2,120,236,0,0,178,0,0.8,1,0,3,0
6,62,0,4,140,268,0,2,160,0,3.6,3,2,3,3
7,57,0,4,120,354,0,0,163,1,0.6,1,0,3,0
8,63,1,4,130,254,0,2,147,0,1.4,2,1,7,2
9,53,1,4,140,203,1,2,155,1,3.1,3,0,7,1

In [3]:
clvd_df.tail(10)

,Age,Sex,Chest Pain (cp),Resting Blood Pressure (trestbps),Serum Cholestoral (Chol),Fasting Blood Sugar (fbs),Resting Electrocardiographic Results (restecg),Maximum Heart Rate Achieved (thalach),Exercise Induced Angina (exang),ST depression induced by exercise relative to rest (oldpeak),the slope of the peak exercise ST segment (slope),number of major vessels (ca),thal,diagnosis of heart disease (num)
293,63,1,4,140,187,0,2,144,1,4.0,1,2,7,2
294,63,0,4,124,197,0,0,136,1,0.0,2,0,3,1
295,41,1,2,120,157,0,0,182,0,0.0,1,0,3,0
296,59,1,4,164,176,1,2,90,0,1.0,2,2,6,3
297,57,0,4,140,241,0,0,123,1,0.2,2,0,7,1
298,45,1,1,110,264,0,0,132,0,1.2,2,0,7,1
299,68,1,4,144,193,1,0,141,0,3.4,2,2,7,2
300,57,1,4,130,131,0,0,115,1,1.2,2,1,7,3
301,57,0,2,130,236,0,2,174,0,0.0,2,1,3,1
302,38,1,3,138,175,0,0,173,0,0.0,1,?,3,0

In [4]:
clvd_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   Age                                                           303 non-null    int64
 1   Sex                                                           303 non-null    int64
 2    Chest Pain (cp)                                              303 non-null    int64
 3   Resting Blood Pressure (trestbps)                             303 non-null    int64
 4   Serum Cholestoral (Chol)                                      303 non-null    int64
 5   Fasting Blood Sugar (fbs)                                     303 non-null    int64
 6   Resting Electrocardiographic Results (restecg)                303 non-null    int64
 7   Maximum Heart Rate Achieved (thalach)                         303 non-null    int64
 8   Exercise Induced Angina (exang)                               303 non-null    int64
 9   ST depression induced by exercise relative to rest (oldpeak)  303 non-null    float64
 10  the slope of the peak exercise ST segment (slope)             303 non-null    int64
 11  number of major vessels (ca)                                  303 non-null    object
 12  thal                                                          303 non-null    object
 13  diagnosis of heart disease (num)                              303 non-null    int64
dtypes: float64(1), int64(11), object(2)
memory usage: 33.3+ KB

In [5]:
clvd_df.replace('?', np.NaN)

,Age,Sex,Chest Pain (cp),Resting Blood Pressure (trestbps),Serum Cholestoral (Chol),Fasting Blood Sugar (fbs),Resting Electrocardiographic Results (restecg),Maximum Heart Rate Achieved (thalach),Exercise Induced Angina (exang),ST depression induced by exercise relative to rest (oldpeak),the slope of the peak exercise ST segment (slope),number of major vessels (ca),thal,diagnosis of heart disease (num)
0,63,1,1,145,233,1,2,150,0,2.3,3,0,6,0
1,67,1,4,160,286,0,2,108,1,1.5,2,3,3,2
2,67,1,4,120,229,0,2,129,1,2.6,2,2,7,1
3,37,1,3,130,250,0,0,187,0,3.5,3,0,3,0
4,41,0,2,130,204,0,2,172,0,1.4,1,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,45,1,1,110,264,0,0,132,0,1.2,2,0,7,1
299,68,1,4,144,193,1,0,141,0,3.4,2,2,7,2
300,57,1,4,130,131,0,0,115,1,1.2,2,1,7,3
301,57,0,2,130,236,0,2,174,0,0.0,2,1,3,1
302,38,1,3,138,175,0,0,173,0,0.0,1,NaN,3,0

In [6]:
clvd_df.dropna()

,Age,Sex,Chest Pain (cp),Resting Blood Pressure (trestbps),Serum Cholestoral (Chol),Fasting Blood Sugar (fbs),Resting Electrocardiographic Results (restecg),Maximum Heart Rate Achieved (thalach),Exercise Induced Angina (exang),ST depression induced by exercise relative to rest (oldpeak),the slope of the peak exercise ST segment (slope),number of major vessels (ca),thal,diagnosis of heart disease (num)
0,63,1,1,145,233,1,2,150,0,2.3,3,0,6,0
1,67,1,4,160,286,0,2,108,1,1.5,2,3,3,2
2,67,1,4,120,229,0,2,129,1,2.6,2,2,7,1
3,37,1,3,130,250,0,0,187,0,3.5,3,0,3,0
4,41,0,2,130,204,0,2,172,0,1.4,1,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,45,1,1,110,264,0,0,132,0,1.2,2,0,7,1
299,68,1,4,144,193,1,0,141,0,3.4,2,2,7,2
300,57,1,4,130,131,0,0,115,1,1.2,2,1,7,3
301,57,0,2,130,236,0,2,174,0,0.0,2,1,3,1
302,38,1,3,138,175,0,0,173,0,0.0,1,?,3,0

In [7]:
va_df.head(10)

,Age,Sex,Chest Pain (cp),Resting Blood Pressure (trestbps),Serum Cholestoral (Chol),Fasting Blood Sugar (fbs),Resting Electrocardiographic Results (restecg),Maximum Heart Rate Achieved (thalach),Exercise Induced Angina (exang),ST depression induced by exercise relative to rest (oldpeak),the slope of the peak exercise ST segment (slope),number of major vessels (ca),thal,diagnosis of heart disease (num)
0,63,1,4,140,260,0,1,112,1,3,2,?,?,2
1,44,1,4,130,209,0,1,127,0,0,?,?,?,0
2,60,1,4,132,218,0,1,140,1,1.5,3,?,?,2
3,55,1,4,142,228,0,1,149,1,2.5,1,?,?,1
4,66,1,3,110,213,1,2,99,1,1.3,2,?,?,0
5,66,1,3,120,0,0,1,120,0,-0.5,1,?,?,0
6,65,1,4,150,236,1,1,105,1,0,?,?,?,3
7,60,1,3,180,0,0,1,140,1,1.5,2,?,?,0
8,60,1,3,120,0,?,0,141,1,2,1,?,?,3
9,60,1,2,160,267,1,1,157,0,0.5,2,?,?,1

In [8]:
va_df.replace('?', np.NaN)

,Age,Sex,Chest Pain (cp),Resting Blood Pressure (trestbps),Serum Cholestoral (Chol),Fasting Blood Sugar (fbs),Resting Electrocardiographic Results (restecg),Maximum Heart Rate Achieved (thalach),Exercise Induced Angina (exang),ST depression induced by exercise relative to rest (oldpeak),the slope of the peak exercise ST segment (slope),number of major vessels (ca),thal,diagnosis of heart disease (num)
0,63,1,4,140,260,0,1,112,1,3,2,NaN,NaN,2
1,44,1,4,130,209,0,1,127,0,0,NaN,NaN,NaN,0
2,60,1,4,132,218,0,1,140,1,1.5,3,NaN,NaN,2
3,55,1,4,142,228,0,1,149,1,2.5,1,NaN,NaN,1
4,66,1,3,110,213,1,2,99,1,1.3,2,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,54,0,4,127,333,1,1,154,0,0,NaN,NaN,NaN,1
196,62,1,1,NaN,139,0,1,NaN,NaN,NaN,NaN,NaN,NaN,0
197,55,1,4,122,223,1,1,100,0,0,NaN,NaN,6,2
198,58,1,4,NaN,385,1,2,NaN,NaN,NaN,NaN,NaN,NaN,0
199,62,1,2,120,254,0,2,93,1,0,NaN,NaN,NaN,1

In [9]:
va_df.dropna()

,Age,Sex,Chest Pain (cp),Resting Blood Pressure (trestbps),Serum Cholestoral (Chol),Fasting Blood Sugar (fbs),Resting Electrocardiographic Results (restecg),Maximum Heart Rate Achieved (thalach),Exercise Induced Angina (exang),ST depression induced by exercise relative to rest (oldpeak),the slope of the peak exercise ST segment (slope),number of major vessels (ca),thal,diagnosis of heart disease (num)
0,63,1,4,140,260,0,1,112,1,3,2,?,?,2
1,44,1,4,130,209,0,1,127,0,0,?,?,?,0
2,60,1,4,132,218,0,1,140,1,1.5,3,?,?,2
3,55,1,4,142,228,0,1,149,1,2.5,1,?,?,1
4,66,1,3,110,213,1,2,99,1,1.3,2,?,?,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,54,0,4,127,333,1,1,154,0,0,?,?,?,1
196,62,1,1,?,139,0,1,?,?,?,?,?,?,0
197,55,1,4,122,223,1,1,100,0,0,?,?,6,2
198,58,1,4,?,385,1,2,?,?,?,?,?,?,0
199,62,1,2,120,254,0,2,93,1,0,?,?,?,1

In [10]:
hgrn_df.head(10)

,Age,Sex,Chest Pain (cp),Resting Blood Pressure (trestbps),Serum Cholestoral (Chol),Fasting Blood Sugar (fbs),Resting Electrocardiographic Results (restecg),Maximum Heart Rate Achieved (thalach),Exercise Induced Angina (exang),ST depression induced by exercise relative to rest (oldpeak),the slope of the peak exercise ST segment (slope),number of major vessels (ca),thal,diagnosis of heart disease (num)
0,40,1,2,140,289,0,0,172,0,0.0,-9,-9,-9,0
1,49,0,3,160,180,0,0,156,0,1.0,2,-9,-9,1
2,37,1,2,130,283,0,1,98,0,0.0,-9,-9,-9,0
3,48,0,4,138,214,0,0,108,1,1.5,2,-9,-9,3
4,54,1,3,150,-9,0,0,122,0,0.0,-9,-9,-9,0
5,39,1,3,120,339,0,0,170,0,0.0,-9,-9,-9,0
6,45,0,2,130,237,0,0,170,0,0.0,-9,-9,-9,0
7,54,1,2,110,208,0,0,142,0,0.0,-9,-9,-9,0
8,37,1,4,140,207,0,0,130,1,1.5,2,-9,-9,1
9,48,0,2,120,284,0,0,120,0,0.0,-9,-9,-9,0

In [11]:
hgrn_df.tail(10)

,Age,Sex,Chest Pain (cp),Resting Blood Pressure (trestbps),Serum Cholestoral (Chol),Fasting Blood Sugar (fbs),Resting Electrocardiographic Results (restecg),Maximum Heart Rate Achieved (thalach),Exercise Induced Angina (exang),ST depression induced by exercise relative to rest (oldpeak),the slope of the peak exercise ST segment (slope),number of major vessels (ca),thal,diagnosis of heart disease (num)
284,55,0,2,110,344,0,1,160,0,0.0,-9,-9,-9,0
285,42,1,4,140,358,0,0,170,0,0.0,-9,-9,-9,0
286,51,0,3,110,190,0,0,120,0,0.0,-9,-9,-9,0
287,59,1,4,140,-9,0,0,140,0,0.0,-9,0,-9,0
288,53,1,2,120,-9,0,0,132,0,0.0,-9,-9,-9,0
289,48,0,2,-9,308,0,1,-9,-9,2.0,1,-9,-9,0
290,36,1,2,120,166,0,0,180,0,0.0,-9,-9,-9,0
291,48,1,3,110,211,0,0,138,0,0.0,-9,-9,6,0
292,47,0,2,140,257,0,0,135,0,1.0,1,-9,-9,0
293,53,1,4,130,182,0,0,148,0,0.0,-9,-9,-9,0

In [12]:
hgrn_df.replace('?', np.NaN)

,Age,Sex,Chest Pain (cp),Resting Blood Pressure (trestbps),Serum Cholestoral (Chol),Fasting Blood Sugar (fbs),Resting Electrocardiographic Results (restecg),Maximum Heart Rate Achieved (thalach),Exercise Induced Angina (exang),ST depression induced by exercise relative to rest (oldpeak),the slope of the peak exercise ST segment (slope),number of major vessels (ca),thal,diagnosis of heart disease (num)
0,40,1,2,140,289,0,0,172,0,0.0,-9,-9,-9,0
1,49,0,3,160,180,0,0,156,0,1.0,2,-9,-9,1
2,37,1,2,130,283,0,1,98,0,0.0,-9,-9,-9,0
3,48,0,4,138,214,0,0,108,1,1.5,2,-9,-9,3
4,54,1,3,150,-9,0,0,122,0,0.0,-9,-9,-9,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289,48,0,2,-9,308,0,1,-9,-9,2.0,1,-9,-9,0
290,36,1,2,120,166,0,0,180,0,0.0,-9,-9,-9,0
291,48,1,3,110,211,0,0,138,0,0.0,-9,-9,6,0
292,47,0,2,140,257,0,0,135,0,1.0,1,-9,-9,0
293,53,1,4,130,182,0,0,148,0,0.0,-9,-9,-9,0