In [3]:
# Dependencies
import numpy as np
import pandas as pd
import datetime as dt

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy import create_engine, inspect, MetaData, Table

%matplotlib inline
import matplotlib.pyplot as plt
import os
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, classification_report

In [4]:
engine = create_engine(f"postgresql://xaelnmld:VEhKnrZBM4mjoDAo-CEY240oVB7LSiDv@mahmud.db.elephantsql.com/xaelnmld")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
# Measurement = Base.classes.measurement
# Station = Base.classes.station

In [5]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [6]:
engine

Engine(postgresql://xaelnmld:***@mahmud.db.elephantsql.com/xaelnmld)

In [7]:
inspector = inspect(engine)

In [8]:
columns = inspector.get_columns('heart_data')
for column in columns:
    print(column["name"], column["type"])

Age BIGINT
Sex BIGINT
cp BIGINT
trestbps DOUBLE_PRECISION
chol DOUBLE_PRECISION
fbs DOUBLE_PRECISION
restecg DOUBLE_PRECISION
thalach DOUBLE_PRECISION
exang DOUBLE_PRECISION
oldpeak DOUBLE_PRECISION
num BIGINT
Location BIGINT

In [9]:
# Make a connection to the SQL database
conn = engine.connect()

In [10]:
# Query All Records in the the Database
heart_data_df = pd.read_sql("SELECT * FROM heart_data", conn)
heart_data_df.head()

,Age,Sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,num,Location
0,63,1,1,145.0,233.0,1.0,2.0,150.0,0.0,2.3,0,0
1,67,1,4,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2,0
2,67,1,4,120.0,229.0,0.0,2.0,129.0,1.0,2.6,1,0
3,37,1,3,130.0,250.0,0.0,0.0,187.0,0.0,3.5,0,0
4,41,0,2,130.0,204.0,0.0,2.0,172.0,0.0,1.4,0,0

In [11]:
# What is the distribution of those with or without heart disease
heart_data_df.groupby('num').size()
heart_data_df['num'].value_counts()

0    357
1    141
3    103
2    102
4     37
Name: num, dtype: int64

In [12]:
# Set the y variable to the 'num' column.
# Drop the 'num' value and set X to the remaining data.
y =heart_data_df["num"]
X = heart_data_df.drop("num", axis=1)
X.head()

,Age,Sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,Location
0,63,1,1,145.0,233.0,1.0,2.0,150.0,0.0,2.3,0
1,67,1,4,160.0,286.0,0.0,2.0,108.0,1.0,1.5,0
2,67,1,4,120.0,229.0,0.0,2.0,129.0,1.0,2.6,0
3,37,1,3,130.0,250.0,0.0,0.0,187.0,0.0,3.5,0
4,41,0,2,130.0,204.0,0.0,2.0,172.0,0.0,1.4,0

In [13]:
# Split the dta by using train_test_split()
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [15]:
# Create a logistic regression model
clf = LogisticRegression(max_iter=5000)
clf.fit(X_train,y_train)
print(f"train acc: {clf.score(X_train,y_train)}")
print(f"test acc: {clf.score(X_test,y_test)}")

train acc: 0.6036036036036037
test acc: 0.5243243243243243

C:\Users\crash\anaconda3\envs\mlenv\lib\site-packages\sklearn\linear_model\_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

In [ ]:
# Create a confusion matrix from the test values and predictions
y_pred = clf.predict(X_test)
# y_test
confusion_matrix(y_test,y_pred)

In [ ]:
# Train the model
classifier.fit(X_train, y_train)

In [ ]:
y_pred = classifier.predict(X_test)
y_pred

In [ ]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

In [ ]:
# Create a logistic regression model
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs',
   max_iter=200,
   random_state=1)

In [ ]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [ ]:
print(X_train_scaled[0:5])

In [ ]:
# Resample the training data with the BalancedRandomForestClassifier
from imblearn.ensemble import BalancedRandomForestClassifier
brfc_model = BalancedRandomForestClassifier(n_estimators =100, random_state=1)
brfc_model.fit(X_train, y_train)

In [ ]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
y_pred = brfc_model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

In [ ]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Train the model
fit_model = nn.fit(X_train,y_train,epochs=50)